<div class="navbar navbar-nav navbar-fixed-left">
  <span class="navbar-brand"></span>
  <ul class="nav navbar-nav">
   <li><a href="/"><i class="fa fa-home"></i> Home </a></li>
   <li><a href="/items"><i class="fa fa-list"></i> All Items </a></li>
   <li><a href="/"><i class="fa fa-heart"></i> Placeholder </a></li>
   <li><a href="/"><i class="fa fa-heart"></i> Placeholder </a></li>
   <li><a href="/"><i class="fa fa-envelope"></i> Email Us </a></li>
  </ul>
</div>
<div class="navbar navbar-default navbar-fixed-top">
  <span class="navbar-brand"><img src='oft_logo.png'></span>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart: **</a></li>
    <li><a href="/"><i class="fa fa-sign-out"></i> Login/out </a></li>
  </ul>
</div>
