<div class="well center" id="homepage">
  <div class="well fit-width">
    <center>
      <h1><font face='Passion One' size="50px">Nosebleed Tickets</font></h1>
      Nobody wants to sit so close to a basketball court that they can smell the players' sweat, or close enough to a stage that they might need to catch a crowd-surfing lead singer. Enjoy your favorite events the smart way, with <em>Nosebleed Tickets<sup><small>TM</small></sup></em>! No longer will you be forced to strain your neck or exhaust yourself with the constant head-turning needed to follow the action. From the nosebleeds, the entire event is within your view!<sup> *</sup>
    </center>
    <br><br>
    <center><small>* <sub>Binoculars recommended (particularly the small kind with the handle, like you might expect to see in the audience at an opera or a ballet).</sub></small></center>
  </div>
  <% if current_user && !venue_admin? %>
    <div class="sell-btn">
      <%= link_to "Sell With Us", new_venue_path, class: "btn btn-lg btn-primary shadow" %>
    </div>
  <% elsif !current_user %>
    <div class="sell-btn">
      <%= link_to "Sell With Us", login_path, class: "btn btn-lg btn-primary shadow" %>
    </div>
  <% else %>
  <% end %>
</div>
