<div class="well center">
  <center>
    <p>One Celebrity's Trash,</p>
    <h1>One Fan's Treasure</h1>
    Be one with the stars by owning the everyday items that once lived in their homes! At <em>One Fan's Treasure</em>, we pride ourselves in providing a wide range of household and ordinary goods that were once graced by our planet's entertainment royalty. From cleaning to kitchen, vanity to household, we have everything you need to fulfill nearly any domestic-based and restraining-order-abiding fantasy.
    <p>You can't live with them, but you can live with the inanimate objects that have.</p>
  </center>
</div>
