<div class="center">
  <center>
    <p>One Celebrity's Trash,</p>
    <h1>One Fan's Treasure</h1>
    You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! Well, I got better. …Are you suggesting that coconuts migrate? The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land.
    What do you mean? And this isn't my nose. This is a false one. Burn her anyway! Camelot! Look, my liege!
    Well, what do you want? Well, what do you want? No, no, no! Yes, yes. A bit. But she's got a wart. And the hat. She's a witch!
    <p>Well, I got better.</p>
  </center>
</div>
