<div class="page-content">
  <h1><strong>Venue Application</strong></h1>
  <%= render partial: 'shared/venue_form', locals: { path: venues_path, label: "Submit Application", cancel_path: dashboard_path } %>
</div>
