<div class="event-show">
  <div class="well col-md-10">
    <h1><%= @venue.name %></h1>
    <%= image_tag(@venue.image_path, alt: "#{@venue.name} pic", class: 'img-thumbnail show-image', style: 'float:left') %>
    <div class="event-content">
      <p>
        <strong>Location:</strong> <%= @venue.location %>
      </p>
      <p>
        <strong>Capacity:</strong> <%= @venue.capacity %>
      </p>
    </div>
  </div>
</div>
