<div class="page-content">
  <h1>Edit Venue</h1>
  <%= render partial: 'shared/venue_form', locals: { path: admin_venue_path(@venue), label: "Update Venue", cancel_path: admin_dashboard_index_path } %>
</div>
